p,
figure,
body {
    margin: 0;
}
.my-profile {
    width: 60em;
    font-family: sans-serif;
    background-color: aliceblue;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 1.5em;
    font-size: 20px;
    line-height: 1.4em;
    font-weight: 200;
    color: black;
}
.dp-image {
    border: 0.3em solid rgba(128, 128, 128, 0.514);
    border-radius: 50% ;
    width: 100%;
    box-sizing: border-box;
}
.dp {
    width: 25%;
    margin: 0 auto;
}
.name {
    text-align: center;
    font-size: 2em;
    font-weight: 400;
    margin: 0.4em 0em 0.4em;
}
.intro {
    margin-top: 3em;
}
h2 {
    font-size: 1.5em;
    font-weight: 400;
}
table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
td {
    font-weight: 200;
}
table {
    font-size: 1em;
}
td, th {
    border: 0.05em solid gray;
    padding: 0.5em;
}
thead{
    background-color: rgba(118, 200, 238, 0.432);
}
li{
    margin: 0.5em;
}
.bold-text {
    font-size: 1.1em;
    font-weight: 400;
}
.contact-info {
    text-align: right;
    font-style: italic;
    margin: 0;
    font-weight: 400;
}
.designation {
    text-align: center;
}
a {
    text-decoration: none;
    color: black;
}
.contact-info p:hover, .contact-info a:hover {
    font-size: 1.05em;
}

/* 
.dp-image{
    width: 98%;
} */

.dp-image:hover {
    border: 0.3em solid rgb(119, 119, 119);
}